.web-header {
    height: 4vh;
    width: 4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;
}

.search-bar {
    height: 6vh;
    width: 40vw;
    margin: 0 10vw 0 10vw;
    background-color: gray;
    border-radius: 2vh;
}

.horizontal-align {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-text {
    font-family: 'Roboto', sans-serif;
    margin: 0 0 0 2vh;
    font-size: 3vh;
}

.wallet-text {
    font-family: 'Roboto', sans-serif;
    margin: 0 0 0 2vh;
}