.container{
background-color: #F1F1F1;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 30vw;
  margin: auto;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px auto auto 25px;
  width: 25vw;
}
.com-img1 {
  height: 2vh;
  width: 2vw;
  margin: auto;
}
.left-arrow {
  margin-top: 10px;
}
.header2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
}
/* div2 */
.content-img {
  margin: auto;
}
/* div3 */
.content-dis {
  margin: auto auto auto 25px;
}
.chair-name {
  font-size: medium;
  font-weight: 800;
}
/* div4 */
.content-col {
  margin: auto auto auto 25px;
  display: flex;
  flex-direction: row;
  width: 25vw;
  justify-content: space-between;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: vw;
}
/* div5 */
.price {
  display: flex;
  flex-direction: row;
  margin: 10px auto auto 25px;
  width: 25vw;
  justify-content: space-between;
}
.dollar {
  font-weight: bold;
  font-size: larger;
}
.cart {
  background-color: #1363DF;
  border-radius: 10px;
  width: 8vw;
  height: 6vh;
}
.cart-desc {
  text-align: center;
  color: white;
}